/* About style */
.title {
  margin-top: 79px !important;
  font-size: 54px;
}

.subtitle {
  margin-top: 60px !important;
}

h1,
h2 {
  font-weight: bold;
}
.description {
  margin-top: 24px !important;
  font-weight: 400;
  font-size: 20px;
}

.person {
  margin-top: 40px;
}

.img {
  width: 185px;
  height: 230px;
  border-radius: 10px;
}
/*
.row {
  margin-right: 50px;
} */


/* Person style */
.name {
  min-width: 244px;
  /* text-align: left; */
  font-weight: bold;
  margin: 0px;
  font-size: 18px;
}

.role {
  color: #505050;
  font-weight: 500;
}
