.nav {
	background-color: #1575d5;
	padding: 15px;
}

.containerPadX {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.navLink {
	padding: 0 1.5rem;
	color: #fff !important; 
}

.navItem {
    padding: 0 1.5rem;
    border-left: #fff solid thin;
}

.navItem:first-child {
	border-style: none;
}

.togglerIcon {
	background-image: url("../assets/menu-icon.svg") !important;
}

.togglerBtn {
	border: none;
}

.togglerBtn:focus {
	outline: none;
}
  
.logoIcon {
	top: 19px;
	left: 126px;
	width: 335px;
	height: 22px;
}

.headerMsg {
	font-size: 14px;
	top: 70px;
	font-style: italic;
	background-color: #fff;
}

@media only screen and (max-width: 991px) {
	.navItem {
		padding: 0.5rem 0 0;
		border-style: none;
	}	
}

@media only screen and (max-width: 600px) {
	.logoIcon {
		width: 225px;
		height: 22px;
	}
	
	.headerMsg > span {
		display: none;
	}
}
  
@media only screen and (max-width: 320px) {
	.logoIcon {
		width: 185px;
		height: 22px;
	}
}