.bg-dark {
  background-color: #1575d5 !important;
}

.text-muted {
  color: #ffff !important;
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

p {
  color: #252525 !important;
}

.navbar {
  height: 70px;
}

.bg-light {
  background-color: #f5f7fc !important;
}

.shadow-sm-new {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3) !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

.navbar-toggler-icon {
  background-image: url("../assets/menu-icon.svg") !important;
}

.navbar-logo-icon {
  top: 19px;
  left: 126px;
  width: 335px;
  height: 22px;
  opacity: 1;
  background-image: url("../assets/logo.svg") !important;
}

button.navbar-toggler:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .navbar-logo-icon {
    width: 180px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
