.infinite-scroll-component {
  overflow-x: hidden !important;
}

a:hover {
  text-decoration: none;
}

.card-height {
  min-height: 430px;
  max-height: 430px;
}

.news > .news-img {
  height: 240px;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-body-service {
  padding: 14px 14px 0px 14px;
}

.card-body .card-description {
  font-size: 14px;
  min-height: 58px;
  font-weight: 500;
  color: #707070;
  line-height: 25px;
  padding-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #252525;
  border-top: 1px solid #f3f3f3;
  padding-top: 8px;
}

.card-body .card-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.category {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 2px 26px 4px 16px;
  width: fit-content;
  width: intrinsic;
  border-bottom-right-radius: 10px;
}
