.blue-primary {
	background-color: #1575d5 !important;
}

.blue-secundary {
	background-color: #3D8CDC !important;
}

.purple-primary {
	background-color: #882980 !important;
}

.purple-secundary {
	background-color: #974891 !important;
}

.lemon-primary {
	background-color: #B4B034 !important;
}

.lemon-secundary {
	background-color: #C7C10C !important;
}

.green-primary {
	background-color: #51983B !important;
}

.green-secundary {
	background-color: #6FA95C !important;
}
