.col {
  margin-bottom: 30px;
}

.text-footer-size {
  font-size: 0.8rem;
}

.ad {
  height: 416px;
}

.ad > .ad-img {
  height: 250px;
  width: 200px;
  background-position: center center;
  background-size: cover;
}
.ad > img {
  
  background-position: center center;
  background-size: cover;
}

a.link {
  color: #666666 !important;
  text-decoration: none;
}