.card-header-date,
.card-body-header-category {
  text-transform: uppercase;
  background-color: #1874d5;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.card-body-header-category {
  position: absolute;
  font-size: 13px;
  top: 249px;
  left: 0;
  padding: 8px 14px;
  line-height: 15px;
}

.share {
  position: absolute;
  font-size: 13px;
  top: 352px;
  right: 0;
  margin: 12px;
  line-height: 30px;
  height: 15px;
  width: 15px;
}

.ad {
  height: auto;
}

.card-header-date,
.card-body-header-category {
  text-transform: uppercase;
  background-color: #1874d5;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.card-header-date-day {
  font-size: 18px;
}

.card-header-date-month {
  font-size: 11px;
}

.card-header-date {
  float: right;
  margin: 10px 10px 0 0;
  border-radius: 20%;
  font-weight: bold;
  padding: 12px 15px;
  line-height: 15px;
}

.col {
  margin-bottom: 30px;
}

.text-footer-size {
  font-size: 0.8rem;
}

.news > .news-img2 {
  height: 280px;
  width: auto;
  background-position: center center;
  background-size: cover;

  background-repeat: no-repeat;
}

.card-body-height {
  height: 7rem;
}

.margin-right {
  margin-right: 10px;
}

.news {
  color: #000;
  font-weight: 600;
}

.news-fonte {
  color: #1575d5;
}

.news-data {
  color: #707070;
}

.row {
  margin-right: -15px !important;
}

.shareButton {
  display: none;
}

.news-compartilhar {
  color: #707070;
}

@media only screen and (max-width: 991px) {
  .shareButton {
    display: inline-block;
    margin-bottom: 1rem;
  }
}
