.col {
  margin-bottom: 30px;
}
.card {
  border-radius: 10px;
}

.text-footer-size {
  font-size: 0.8rem;
}

.news > .news-img {
  height: 250px;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center center;
  background-size: cover;
}

.card-body-height {
  height: 7.5rem;
}

.news {
  color: #000;
  font-weight: 600;
}

.news-fonte {
  color: #1575d5;
}

.news-data {
  color: #707070;
}

.row {
  margin-right: -15px !important;
}

.load-spin {
	width: 15rem;
	height: 15rem;
}