.footer {
  height: 258px;
  border-top: 2px solid #e6e6e6;
  color: #252525;
  font-family: "Muli", sans-serif;
}

.footer-title {
  font-size: 30px;
  margin-bottom: 22px;
}

.footer-social-icon {
  height: 40px;
  margin: auto 10px;
}

.footer-logo--tw {
  height: 40px;
}

.footer-logo--agenciaAids {
  height: 114px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .agencia {
    text-align: right !important;
  }
}
