.bg {
  margin-top: 40px;
  background: #f5f7fc 0% 0% no-repeat padding-box;
  height: 450px;
}

.h1 {
  color: black !important;
}

.support-img-wide {
  height: 40px;
}

.support-img-tall {
  height: 70px;
}

.social {
  margin-top: 50px !important;
  width: 100px !important;
  height: 100px !important;
  margin-left: 0px;
  margin-right: 0px;
}

.col {
  flex-grow: 0;
}

.footer-title {
  margin-bottom: 40px;
}
.social2 {
  margin-bottom: 40px;
}

.info {
  font-weight: 600;
  color: #505050;
}
