body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification {
  width: 500px;
  height: 80px;
  border-radius: 6px;
  background: #1874d5;
  color: white;
}

.notification p {
}

.notification .notificationTitle {
  font-weight: 600;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.notification .notificationDescription {
  font-weight: 400;
  margin-top: -7px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
